<button class='no-print' printSectionId="content" [useExistingCss]="true" ngxPrint>PRINT</button>
<div id="content">
    <div>
        <h3 style="float: left"><strong>Annual Performance</strong></h3>
        <h3 style="float:right"><strong>SIT Inv. Assocaites</strong></h3>
    </div>
    <hr />
    <br />
    <h6 id="date" style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <div style="text-align: center;">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"
                          style="width: 800px; height: 500px; display: inline-block;"></highcharts-chart>
    </div>
    <table style="width: 800px; margin: auto;">
        <thead>
            <tr>
                <th></th>
                <th>1st Quartile</th>
                <th>2nd Quartile</th>
                <th>3rd Quartile</th>
                <th>4th Quartile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Versus Peer Group</td>
                <td style="background-color: #02007c"></td>
                <td style="background-color: lawngreen"></td>
                <td style="background-color: #f4f442"></td>
                <td style="background-color: #ffffff"></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table style="width: 75%; margin: auto;">
        <thead>
            <tr>
                <th width="13%"></th>
                <th>2007</th>
                <th>2008</th>
                <th>2009</th>
                <th>2010</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>YTD</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            <tr style="background-color: darkgrey">
                <td style="text-align:left;">&#9670; Total Fund</td>
                <td>15.7</td>
                <td>-36.6</td>
                <td>34.9</td>
                <td>12.3</td>
                <td>0.3</td>
                <td>13.5</td>
                <td>30.7</td>
                <td>12.1</td>
                <td>4.9</td>
                <td>0.5</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">&#9632; Relative Benchmark<sup>2</sup></td>
                <td>11.8</td>
                <td>-38.4</td>
                <td>37.2</td>
                <td>16.7</td>
                <td>2.6</td>
                <td>15.3</td>
                <td>33.5</td>
                <td>13.0</td>
                <td>5.7</td>
                <td>0.7</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">First Quartile</td>
                <td>19.8</td>
                <td>-36.5</td>
                <td>41.1</td>
                <td>18.7</td>
                <td>2.4</td>
                <td>18.3</td>
                <td>37.2</td>
                <td>14.0</td>
                <td>8.5</td>
                <td>-0.5</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Median</td>
                <td>14.6</td>
                <td>-39.3</td>
                <td>34.2</td>
                <td>15.7</td>
                <td>-0.2</td>
                <td>15.9</td>
                <td>34.6</td>
                <td>11.8</td>
                <td>6.8</td>
                <td>-2.0</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Third Quartile</td>
                <td>10.3</td>
                <td>-40.7</td>
                <td>29.1</td>
                <td>13.0</td>
                <td>-3.6</td>
                <td>14.1</td>
                <td>31.7</td>
                <td>9.7</td>
                <td>3.5</td>
                <td>-3.3</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 75%; margin: auto">
        <br />
        <p><sup>2</sup>R1000G</p>
    </div>
</div>
