<button class='no-print' printSectionId="content" [useExistingCss]="true" ngxPrint>PRINT</button>
<div id="content">
    <div>
        <h3 style="float: left"><strong>Manager Risk Analysis</strong></h3>
        <h3 style="float:right"><strong>Morgan Stanley - Emerging Markets Equity</strong></h3>
    </div>
    <hr />
    <br />
    <h6 id="date" style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <br />
    <app-ms-emerging-risk-return></app-ms-emerging-risk-return>
    <br />
    <h6 style="text-align:right; border-top:solid"></h6>
    <br />
    <app-ms-emerging-capture-ratio></app-ms-emerging-capture-ratio>
</div>
