<div id="content">
    <h1 style="border-bottom:solid">F.R.Bigelow Foundation</h1>
    <br />
    <h2 style="text-align:center">Glossary</h2>
    <br />
    <div class="grid-container">
        <div class="item1">
            <h4>Factor Model:</h4>
        </div>
        <div class="item2">
            <p>
                Hundreds of variables or factors affect a company's stock price including inflation,
                interest rates, company size, leverage, earnings, etc. Each factor impacts individual
                industries and companies differently. A factor model identifies those variables that
                have statistically significant power to predict or explain changes in stock prices.
                Factor models can capture market inefficiencies, use past observations to project the
                future, and provide quantitative valuations.
            </p>
        </div>
        <div class="item1">
            <h4>DeMarche Factor Model:</h4>
        </div>
        <div class="item2">
            <p>
                The DeMarche Factor Model has identified more than 70 factors that, when combined,
                have significant explanatory or predictive power. This model was developed by
                constructing a database covering more than 20 years of monthly information.
                Using cross-sectional and historical regressions, it tests hundreds of factors of
                various types.
            </p>
            <br />
            <p>
                A set of weighted factors indicate the relative growth or value orientation of a
                company. A different set of weighted factors is used to determine relative aggressiveness
                or defensiveness. Every stock in the DeMarche Universe is divided into quintiles based on
                the total of the value of the weighted factors.
            </p>
        </div>
        <div class="item1">
            <h4>STYLES:</h4>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Value:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses nine factors to rate a stock across the value/growth spectrum. This style of
                investing is focused heavily on valuation models including low price-to-book, price-to-earnings,
                price-to-sales and cash flow ratios, often in absolute terms. These managers are also regarded
                sometimes as "contrarian" as they are often buying stocks against current market sentiment.
                Value stocks typically have low price-to-earnings ratios while providing higher yields. Generally
                speaking, these managers may also employ wider sector controls when contrasted to relative value
                strategies.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Relative Value:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses nine factors to rate a stock across the value/growth spectrum. This style of
                investing is focused almost entirely on valuation factors including dividend discount modeling,
                relative price-to-book, price-to-earnings, price-to-sales and cash flow ratios. These factors
                are generally considered on a relative (versus the market benchmark) basis. Relative value
                securities often have price-to-earnings ratios and betas that are lower than the market and
                yields that are greater than the market. Generally speaking, these managers typically will
                incorporate some element of risk control into their investment process with accompanying
                benchmark sensitivity.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Relative Growth:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses nine factors to rate a stock across the value/growth spectrum. This style of
                investing is focused mostly on growth factors including companies exhibiting above-average
                rates of earnings growth, sales growth and earnings momentum. Relative valuation metrics,
                including price-to-earnings and price-to-book ratios, are a consideration in this style with
                the result often referred to as "GARP" or "Growth at a Reasonable Price" as these characteristics
                are typically above market averages while dividends are below market averages as the companies
                in the portfolio often seek reinvestment opportunities.  Generally speaking, these managers
                typically will incorporate some element of risk control into their investment process with
                accompanying benchmark sensitivity.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Growth:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses nine factors to rate a stock across the value/growth spectrum. This style of
                investing is focused almost entirely on high growth factors including earnings growth, revenue
                growth, sales growth, improved cash flow, earnings momentum and price-earnings expansion.
                Valuation is not emphasized as heavily in this style of investing and consequently these
                strategies are often volatile as evidenced by beta that can be significantly above market.
                Growth stocks typically feature high price-to-earnings ratios with low, or non-existent yields
                as companies focus on reinvestment opportunities.  Generally speaking, these managers may also
                employ wider sector controls when contrasted to relative growth strategies.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Aggressive:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses 11 factors to rate a stock as aggressive or defensive. These ratings replace market
                capitalization as a primary diagnostic tool. Though categorizing a stock as aggressive is not based
                on cap size, smaller stocks tend to be more aggressive than Large Cap stocks. An aggressive stock
                may include a small company with high market risk, wide trading ranges, low dividend yields and
                payout ratios, and thin profit margins.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Defensive:</h4>
        </div>
        <div class="item2">
            <p>
                DeMarche uses 11 factors to rate a stock as aggressive or defensive. These ratings replace market
                capitalization as a primary diagnostic tool. Defensive stocks tend to be large companies that
                have low market risk and narrow trading ranges. These stocks also tend to be companies with
                high dividends and payout ratios. These stocks also may be higher priced than aggressive stocks.
            </p>
        </div>
        <div class="item1">
            <h4>CAP RANGES:</h4>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Large Cap:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest only in companies with market caps exceeding $10 billion at
                purchase. These stocks are typically established companies with household names.  For
                statistical purposes, each Large Cap universe includes some members made up of securities
                consistent with the investment style using stratified sampling techniques.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Core:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in companies with market caps that are greater than the S & P
                500 median market cap with material representation in Mid Cap companies and very minor exposure
                to smaller cap companies.
            </p>
        </div>        <div class="item1">
            <h4 style="padding-left:20px">Specialty Large:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in companies with market caps that are greater than the S & P 500
                median market cap with significant representation in Mid and Small Cap companies.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Mid Cap:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in companies with market caps ranging from $2 billion to $20
                billion at purchase. This cap range is dynamic with Mid Cap managers varying significantly.
                For statistical purposes, each Mid Cap universe includes some members made up of securities
                consistent with the investment style using stratified sampling techniques.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Specialty Small:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in Small Cap companies, with some limited representation in
                larger cap companies. Managers that invest in this space often "let winners run" from Small
                Cap as the market cap range may not necessarily require the sale of a stock for an extended
                period of time.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Small Cap:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in companies with market caps less than $2 billion.
                Liquidity can be a concern when investing in Small Cap stocks.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Micro Cap:</h4>
        </div>
        <div class="item2">
            <p>
                These managers typically invest in emerging companies with market caps less than $1 billion
                at purchase. In many cases, the manager may target investments in companies that have a market
                cap of less than $100 million. Trading liquidity is often an area of emphasis when investing in
                Micro Cap stocks.
            </p>
        </div>
        <div class="item1">
            <h4>RISK ANALYSIS DEFINITIONS:</h4>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Alpha:</h4>
        </div>
        <div class="item2">
            <p>
                A measure of the manager's excess return, i.e. contribution to performance. It is the portion of
                a portfolio return that is not explained by systematic risk. Alpha is calculated by regressing
                the portfolio's excess return on a relevant benchmark's excess return.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Beta:</h4>
        </div>
        <div class="item2">
            <p>
                Beta measures the sensitivity of rates of return on a portfolio relative to general market
                movements. Beta represents systematic risk or risk that cannot be diversified away. Beta is
                the slope of a regression line and in finance is generally used to measure the percentage
                change in a single stock or of a portfolio relative to that of a benchmark index.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Correlation Coefficient:</h4>
        </div>
        <div class="item2">
            <p>
                A measure of the strength of the linear relationship between two sets of variables. A value of
                +1.00 indicates perfect positive correlation and -1.00 represents perfect negative correlation.
                A value of zero means the variables are not correlated. In portfolio applications, it can be used
                to measure the relationship between two stocks, a stock and an index, an index and a portfolio,
                or two asset classes, among others.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Information Ratio:</h4>
        </div>
        <div class="item2">
            <p>
                The Information Ratio is a measure of the risk adjusted excess return generated by a manager in
                relation to a benchmark. It is the ratio of that excess return to the tracking error. The standard
                deviation of the difference between portfolio return and benchmark return is an approximation of
                tracking error.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Sharpe Ratio:</h4>
        </div>
        <div class="item2">
            <p>
                A measure of a portfolio's excess return relative to the total variability of the portfolio.
                The Sharpe Ratio measures the efficiency of portfolio management - the excess return achieved
                per unit of risk taken. The ratio, developed by William Sharpe, is calculated as the ratio of
                the difference between the actual return and the risk free return to the standard deviation of
                the portfolio returns.
            </p>
        </div>
        <div class="item3">
            <h4>DEMARCHE FIXED INCOME UNIVERSE DEFINITIONS:</h4>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Short Duration:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Government/Credit 1-3 or equivalent with all investment
                grade securities and no international.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Intermediate Government/Credit:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Intermediate Government/Credit or equivalent with all
                investment grade securities and no international.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Government/Credit:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Government/Credit or equivalent with all investment grade
                securities and no international.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Aggregate:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Aggregate or equivalent with all investment grade securities
                and no international.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Core Plus:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Government/Credit or Aggregate or equivalent with up to
                15% in non-investment grade and/or non-dollar.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Core Extended:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Government/Credit or Aggregate or equivalent with 15-50%
                in non-investment grade and/or non-dollar.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Long:</h4>
        </div>
        <div class="item2">
            <p>
                Products with a benchmark of Barclays Long Government/Credit or equivalent.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">Rotational:</h4>
        </div>
        <div class="item2">
            <p>
                Products with an unrestricted duration range.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">TIPS:</h4>
        </div>
        <div class="item2">
            <p>
                Products that invest exclusively in TIPS.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">High Yield:</h4>
        </div>
        <div class="item2">
            <p>
                Products with more than 50% in non-investment grade issues.
            </p>
        </div>
        <div class="item3">
            <h4>REAL ESTATE INDEX DEFINITIONS:</h4>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">NPI <br /> (NCREIF Property Index)</h4>
        </div>
        <div class="item2">
            <p>
                An index of institutional grade real estate performance.  It is intended to represent the total 
                rate of return for unleveraged U.S. commercial real estate properties acquired in the private 
                market for investment purposes only. The index tracks over 5,000 properties with an aggregate value
                over $175 Billion.
            </p>
        </div>
        <div class="item1">
            <h4 style="padding-left:20px">NFI-ODCE <br /> (NCREIF Fund Index - <br />Open-End Diversified Core Equity)</h4>
        </div>
        <div class="item2">
            <p>
                An index of approximately 31 open-end core real estate funds.  The index is a proxy for investment 
                returns of private real estate held by institutional investors in the U.S. (DB plans, foundations 
                and endowments). The maximum leverage that can be employed by the constituent funds in the index is 
                40%.
            </p>
        </div>
    </div>
</div>