

table {
    border: solid;
    border-spacing: 10px 10px;
    height:30em; 
    width: 100%;
    margin: auto;
}

td {
    text-align: center;
    border: solid;
}

@media print {
    table {
        border-collapse: collapse;
    }
}
