<div style="height:50em; width: 33%; margin: auto;">
    <div id="container">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2">Fund</td>
                    <td>Beta</td>
                    <td>1.07</td>
                </tr>
                <tr>
                    <td>R<sup>2</sup></td>
                    <td>0.95</td>
                </tr>
                <tr>
                    <td rowspan="3">Return Per Unit of Risk</td>
                    <td>Fund</td>
                    <td>0.66</td>
                </tr>
                <tr>
                    <td>Universe</td>
                    <td>0.74</td>
                </tr>
                <tr>
                    <td>Index</td>
                    <td>0.74</td>
                </tr>
                <tr>
                    <td rowspan="3">Volatility (StDev)</td>
                    <td>Fund</td>
                    <td>15.19</td>
                </tr>
                <tr>
                    <td>Universe</td>
                    <td>13.83</td>
                </tr>
                <tr>
                    <td>Index</td>
                    <td>13.80</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>