table {
    width: 100%;
    height: 20%;
    text-align: center;
}

th {
    text-align: center;
    padding: 10px;
    border-right: solid;
    border-width: 1px;
}

td {
    border: solid;
    border-width: 1px;
}
