#abs-objective, #rel-objective, #rel-to-totfunduniv, #five-yrs-ending {
    display: inline-block;
    width: 49%;
}

@media print {
    .no-print {
        display: none;
    }
    #date {
        padding-right: 0;
        font-size: 1em;
    }

    #abs-objective, #rel-objective, #rel-to-totfunduniv, #five-yrs-ending {
        height: 500px;
        display: block;
    }

}
