table {
    border: solid;
    border-width: 1px;
}

th {
    border: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}

td {
    border: solid;
    border-width: 1px;
    padding: 10px;
}
