<button printSectionId="content" [useExistingCss]="true" ngxPrint>PRINT COMPLETE REPORT</button>
<div id="content">
    <div class="page-break">
        <app-totalfund></app-totalfund>
    </div>
    <div class="page-break">
        <app-total-fund-asset-alloc-charts></app-total-fund-asset-alloc-charts>
    </div>
    <div class="page-break">
        <app-manager-review></app-manager-review>
    </div>
    <div class="page-break">
        <app-totalperfbenchmark></app-totalperfbenchmark>
    </div>
    <div class="page-break">
        <app-perf-to-objectives></app-perf-to-objectives>
    </div>
    <div class="page-break">
        <app-perf-calendar-year></app-perf-calendar-year>
    </div>
    <div class="page-break">
        <app-totalfund-attribution></app-totalfund-attribution>
    </div>
    <div class="page-break">
        <app-sector-attribution></app-sector-attribution>
    </div>
    <div class="page-break">
        <app-sector-weighting></app-sector-weighting>
    </div>
    <div class="page-break">
        <app-mgr-perf-vs-peers></app-mgr-perf-vs-peers>
    </div>
    <div class="page-break">
        <app-manager-review></app-manager-review>
    </div>
    <div class="page-break">
        <app-returns-based-analysis></app-returns-based-analysis>
    </div>
    <div class="page-break">
        <app-risk-analysis></app-risk-analysis>
    </div>
    <div class="page-break">
        <app-dom-equity-mgr-comparisons></app-dom-equity-mgr-comparisons>
    </div>
    <div class="page-break">
        <app-intl-equity-mgr-comparisons></app-intl-equity-mgr-comparisons>
    </div>
    <div class="page-break">
        <app-dom-fixed-income-comp></app-dom-fixed-income-comp>
    </div>
    <div class="page-break">
        <app-d-c-long-term-perf></app-d-c-long-term-perf>
    </div>
    <div class="page-break">
        <app-d-c-mgr-risk-analysis></app-d-c-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-d-c-annual-perf></app-d-c-annual-perf>
    </div>
    <div class="page-break">
        <app-sit-long-term-perf></app-sit-long-term-perf>
    </div>
    <div class="page-break">
        <app-sit-mgr-risk-analysis></app-sit-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-sit-annual-perf></app-sit-annual-perf>
    </div>
    <div class="page-break">
        <app-f-m-long-term-perf></app-f-m-long-term-perf>
    </div>
    <div class="page-break">
        <app-f-m-mgr-risk></app-f-m-mgr-risk>
    </div>
    <div class="page-break">
        <app-f-m-annual-perf></app-f-m-annual-perf>
    </div>
    <div class="page-break">
        <app-ms-long-term-perf></app-ms-long-term-perf>
    </div>
    <div class="page-break">
        <app-ms-mgr-risk-analysis></app-ms-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-ms-annual-perf></app-ms-annual-perf>
    </div>
    <div class="page-break">
        <app-lam-long-term-perf></app-lam-long-term-perf>
    </div>
    <div class="page-break">
        <app-lam-annual-perf></app-lam-annual-perf>
    </div>
    <div class="page-break">
        <app-ms-emerging-long-term-perf></app-ms-emerging-long-term-perf>
    </div>
    <div class="page-break">
        <app-ms-emerging-mgr-risk></app-ms-emerging-mgr-risk>
    </div>
    <div class="page-break">
        <app-ms-emerging-annual-perf></app-ms-emerging-annual-perf>
    </div>
</div>
