<button printSectionId="content" [useExistingCss]="true" ngxPrint>PRINT COMPLETE REPORT</button>
<div id="content">
    <div class="page-break">
        <app-totalfund></app-totalfund>
    </div>
    <div class="page-break">
        <app-total-fund-asset-alloc-charts></app-total-fund-asset-alloc-charts>
    </div>
    <div class="page-break">
        <app-manager-review></app-manager-review>
    </div>
    <div class="page-break">
        <app-totalperfbenchmark></app-totalperfbenchmark>
    </div>
    <div class="page-break">
        <app-perf-to-objectives></app-perf-to-objectives>
    </div>
    <div class="page-break">
        <app-perf-calendar-year></app-perf-calendar-year>
    </div>
    <div class="page-break">
        <app-totalfund-attribution></app-totalfund-attribution>
    </div>
    <div class="page-break">
        <app-sector-attribution></app-sector-attribution>
    </div>
    <div class="page-break">
        <app-sector-weighting></app-sector-weighting>
    </div>
    <div class="page-break">
        <app-mgr-perf-vs-peers></app-mgr-perf-vs-peers>
    </div>
    <div class="page-break">
        <app-manager-review></app-manager-review>
    </div>
    <div class="page-break">
        <app-returns-based-analysis></app-returns-based-analysis>
    </div>
    <div class="page-break">
        <app-risk-analysis></app-risk-analysis>
    </div>
    <div class="page-break">
        <app-dom-equity-mgr-comparisons></app-dom-equity-mgr-comparisons>
    </div>
    <div class="page-break">
        <app-intl-equity-mgr-comparisons></app-intl-equity-mgr-comparisons>
    </div>
    <div class="page-break">
        <app-dom-fixed-income-comp></app-dom-fixed-income-comp>
    </div>
    <div class="page-break">
        <app-d-c-long-term-perf></app-d-c-long-term-perf>
    </div>
    <div class="page-break">
        <app-d-c-mgr-risk-analysis></app-d-c-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-d-c-annual-perf></app-d-c-annual-perf>
    </div>
    <div class="page-break">
        <app-sit-long-term-perf></app-sit-long-term-perf>
    </div>
    <div class="page-break">
        <app-sit-mgr-risk-analysis></app-sit-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-sit-annual-perf></app-sit-annual-perf>
    </div>
    <div class="page-break">
        <app-f-m-long-term-perf></app-f-m-long-term-perf>
    </div>
    <div class="page-break">
        <app-f-m-mgr-risk></app-f-m-mgr-risk>
    </div>
    <div class="page-break">
        <app-f-m-annual-perf></app-f-m-annual-perf>
    </div>
    <div class="page-break">
        <app-ms-long-term-perf></app-ms-long-term-perf>
    </div>
    <div class="page-break">
        <app-ms-mgr-risk-analysis></app-ms-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-ms-annual-perf></app-ms-annual-perf>
    </div>
    <div class="page-break">
        <app-lam-long-term-perf></app-lam-long-term-perf>
    </div>
    <div class="page-break">
        <app-lam-annual-perf></app-lam-annual-perf>
    </div>
    <div class="page-break">
        <app-ms-emerging-long-term-perf></app-ms-emerging-long-term-perf>
    </div>
    <div class="page-break">
        <app-ms-emerging-mgr-risk></app-ms-emerging-mgr-risk>
    </div>
    <div class="page-break">
        <app-ms-emerging-annual-perf></app-ms-emerging-annual-perf>
    </div>
    <div class="page-break">
        <app-ls-long-term-perf></app-ls-long-term-perf>
    </div>
    <div class="page-break">
        <app-ls-mgr-risk-analysis></app-ls-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-ls-annual-perf></app-ls-annual-perf>
    </div>
    <div class="page-break">
        <app-rreef-long-term-perf></app-rreef-long-term-perf>
    </div>
    <div class="page-break">
        <app-rreef-mgr-risk-analysis></app-rreef-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-rreef-annual-perf></app-rreef-annual-perf>
    </div>
    <div class="page-break">
        <app-tc-long-term-perf></app-tc-long-term-perf>
    </div>
    <div class="page-break">
        <app-tc-annual-perf></app-tc-annual-perf>
    </div>
    <div class="page-break">
        <app-nr-long-term-perf></app-nr-long-term-perf>
    </div>
    <div class="page-break">
        <app-nr-mgr-risk-analysis></app-nr-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-nr-annual-perf></app-nr-annual-perf>
    </div>
    <div class="page-break">
        <app-ubs-long-term-perf></app-ubs-long-term-perf>
    </div>
    <div class="page-break">
        <app-ubs-annual-perf></app-ubs-annual-perf>
    </div>
    <div class="page-break">
        <app-ac-long-term-perf></app-ac-long-term-perf>
    </div>
    <div class="page-break">
        <app-ac-mgr-risk-analysis></app-ac-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-ac-annual-perf></app-ac-annual-perf>
    </div>
    <div class="page-break">
        <app-cip-long-term-perf></app-cip-long-term-perf>
    </div>
    <div class="page-break">
        <app-cip-mgr-risk-analysis></app-cip-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-cip-annual-perf></app-cip-annual-perf>
    </div>
    <div class="page-break">
        <app-cv-long-term-perf></app-cv-long-term-perf>
    </div>
    <div class="page-break">
        <app-cv-mgr-risk-analysis></app-cv-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-cv-annual-perf></app-cv-annual-perf>
    </div>
    <div class="page-break">
        <app-cp-long-term-perf></app-cp-long-term-perf>
    </div>
    <div class="page-break">
        <app-cp-mgr-risk-analysis></app-cp-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-cp-annual-perf></app-cp-annual-perf>
    </div>
    <div class="page-break">
        <app-ccp-long-term-perf></app-ccp-long-term-perf>
    </div>
    <div class="page-break">
        <app-ccp-mgr-risk-analysis></app-ccp-mgr-risk-analysis>
    </div>
    <div class="page-break">
        <app-ccp-annual-perf></app-ccp-annual-perf>
    </div>
</div>
