<div style="width: 800px; height: 60em; margin: auto;">
    <highcharts-chart [Highcharts]="Highcharts"
                      [options]="chartOptions"
                      style="width: 100%; height:80%; display: inline-block;"></highcharts-chart>
    <table>
        <thead>
            <tr>
                <th></th>
                <th style="border-top:solid; border-width:1px;">Number of Quarters</th>
                <th style="border-top:solid; border-width:1px;">Cumulative Manager Return (%)</th>
                <th style="border-top:solid; border-width:1px;">Cumulative Relative Benchmark Return (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Up</td>
                <td>14</td>
                <td>128.0</td>
                <td>120.0</td>
            </tr>
            <tr>
                <td>Down</td>
                <td>6</td>
                <td>-29.0</td>
                <td>-26.0</td>
            </tr>
        </tbody>
    </table>
</div>