table {
    padding: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.isRed {
    color: red;
}

.isBlank {
    border-top: hidden;
}
.isShaded{
    background-color: darkgrey;
}
