
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            TABLE OF CONTENTS
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a [routerLink]="['consultingteam']">Consulting Services Team</a>
            <a [routerLink]="['all']">Complete Report Output</a>
            <a [routerLink]="['totalfund']">Total Fund Performance Review - Asset Allocation Summary</a>
            <a [routerLink]="['totalfundgraphs']">Total Fund Performance Review - Asset Allocation Summary Graphs</a>
            <a [routerLink]="['manager-review']">Manager Review Asset Distribution</a>
            <a [routerLink]="['total-perf-benchmarks']">Total Fund Performance Review - Performance & Benchmarks</a>
            <a [routerLink]="['perf-to-objective']">Total Fund Performance Review - Performance to Objectives</a>
            <a [routerLink]="['perf-calendar-year']">Total Fund Performance Review - Performance by Calendar Year</a>
            <a [routerLink]="['total-fund-attribution']">Total Fund Performance Review - Attribution</a>
            <a [routerLink]="['sector-attribution']">Sector Attribution & Allocation</a>
            <a [routerLink]="['sector-weighting']">Sector Weighting</a>
            <a [routerLink]="['mgr-perf-vs-peers']">Manager Performance vs. Peers and Relative Benchmarks</a>
            <a [routerLink]="['perf-results']">Manager Performance Review - Performance Results</a>
            <a [routerLink]="['returns-based']">Returns Based Manager Style Analysis</a>
            <a [routerLink]="['risk-analysis']">Manager Performance Review - Risk Analysis</a>
            <a [routerLink]="['dom-equity-comparisons']">Domestic Equity Manager Style Universe Comparisons</a>
            <a [routerLink]="['intl-equity-comparisons']">International Equity Manager Style Universe Comparisons</a>
            <a [routerLink]="['dom-fixedincome-comparisons']">Domestic Fixed Income Manager Style Universe Comparisons</a>
            <a [routerLink]="['d&c-long-term-perf']">Dodge & Cox Equity - Long Term Performance</a>
            <a [routerLink]="['d&c-mgr-risk-analysis']">Dodge & Cox Equity - Manager Risk Analysis</a>
            <a [routerLink]="['d&c-annual-perf']">Dodge & Cox Equity - Annual Performance</a>
            <a [routerLink]="['sit-long-term-perf']">SIT Inv. Associates - Long Term Performance</a>
            <a [routerLink]="['sit-mgr-risk-analysis']">SIT Inv. Associates - Manager Risk Analysis</a>
            <a [routerLink]="['sit-annual-perf']">SIT Inv. Associates - Annual Performance</a>
            <a [routerLink]="['f-m-long-term-perf']">Fiduciary Management - Long Term Performance</a>
            <a [routerLink]="['f-m-mgr-risk-analysis']">Fiduciary Management - Manager Risk Analysis</a>
            <a [routerLink]="['f-m-annual-perf']">Fiduciary Management - Annual Performance</a>
            <a [routerLink]="['ms-intl-long-term-perf']">Morgan Stanley International Equity - Long Term Performance</a>
            <a [routerLink]="['ms-intl-mgr-risk-analysis']">Morgan Stanley International Equity - Manager Risk Analysis</a>
            <a [routerLink]="['ms-intl-annual-perf']">Morgan Stanley International Equity - Annual Performance</a>
            <a [routerLink]="['lam-long-term-perf']">Lazard Asset Management - Long Term Performance</a>
            <a [routerLink]="['lam-annual-perf']">Lazard Asset Management - Annual Performance</a>
            <a [routerLink]="['ms-emerging-long-term-perf']">Morgan Stanley Emerging Markets Equity - Long Term Performance</a>
            <a [routerLink]="['ms-emerging-mgr-risk-analysis']">Morgan Stanley Emerging Markets Equity - Manager Risk Analysis</a>
            <a [routerLink]="['ms-emerging-annual-perf']">Morgan Stanley Emerging Markets Equity - Annual Performance</a>
            <a [routerLink]="['ls-long-term-perf']">Loomis Sayles Co. - Long Term Performance</a>
            <a [routerLink]="['ls-mgr-risk-anaylsis']">Loomis Sayles Co. - Manager Risk Analysis</a>
            <a [routerLink]="['ls-annual-perf']">Loomis Sayles Co. - Annual Performance</a>
            <a [routerLink]="['rreef-long-term-perf']">RREEF II & III - Long Term Performance</a>
            <a [routerLink]="['rreef-mgr-risk-analysis']">RREEF II & III - Manager Risk Analysis</a>
            <a [routerLink]="['rreef-annual-perf']">RREEF II & III - Annual Performance</a>
            <a [routerLink]="['tc-long-term-perf']">Tortoise Capital Advisors - Long Term Performance</a>
            <a [routerLink]="['tc-annual-perf']">Tortoise Capital Advisors - Annual Performance</a>
            <a [routerLink]="['nr-long-term-perf']">Natural Resources VIII - Long Term Performance</a>
            <a [routerLink]="['nr-mgr-risk-analysis']">Natural Resources VIII - Manager Risk Analysis</a>
            <a [routerLink]="['nr-annual-perf']">Natural Resources VIII - Annual Performance</a>
            <a [routerLink]="['ubs-long-term-perf']">UBS Neutral Alpha Strategies - Long Term Performance</a>
            <a [routerLink]="['ubs-annual-perf']">UBS Neutral Alpha Strategies - Annual Performance</a>
            <a [routerLink]="['ac-long-term-perf']">Abbott Capital Private Equity - Long Term Performance</a>
            <a [routerLink]="['ac-mgr-risk-analysis']">Abbott Capital Private Equity - Manager Risk Analysis</a>
            <a [routerLink]="['ac-annual-perf']">Abbott Capital Private Equity - Annual Performance</a>
            <a [routerLink]="['cip-long-term-perf']">Commonfund Intl PE VII - Long Term Performance</a>
            <a [routerLink]="['cip-mgr-risk-analysis']">Commonfund Intl PE VII Equity - Manager Risk Analysis</a>
            <a [routerLink]="['cip-annual-perf']">Commonfund Intl PE VII - Annual Performance</a>
            <a [routerLink]="['cv-long-term-perf']">Commonfund VP IX - Long Term Performance</a>
            <a [routerLink]="['cv-mgr-risk-analysis']">Commonfund VP IX - Manager Risk Analysis</a>
            <a [routerLink]="['cv-annual-perf']">Commonfund VP IX - Annual Performance</a>
            <a [routerLink]="['cp-long-term-perf']">Commonfund PE VIII - Long Term Performance</a>
            <a [routerLink]="['cp-mgr-risk-analysis']">Commonfund PE VIII - Manager Risk Analysis</a>
            <a [routerLink]="['cp-annual-perf']">Commonfund PE VIII - Annual Performance</a>
            <a [routerLink]="['ccp-long-term-perf']">Commonfund Capital Partners V - Long Term Performance</a>
            <a [routerLink]="['ccp-mgr-risk-analysis']">Commonfund Capital Partners V - Manager Risk Analysis</a>
            <a [routerLink]="['ccp-annual-perf']">Commonfund Capital Partners V - Annual Performance</a>
            <a [routerLink]="['glossary']">Glossary of Terms</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

