<div id="content">
    <div>
        <h3 style="float: left"><strong>Long Term Performance</strong></h3>
        <h3 style="float:right"><strong>Commonfund VP IX</strong></h3>
    </div>
    <hr />
    <br />
    <h6 style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <div style="text-align: center;">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"
                          style="width: 800px; height: 50em;  display:inline-block;"></highcharts-chart>
    </div>
</div>
