<div style="width:800px; height: 60em; margin: auto;">
    <div id="risk-return-chart">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"
                          style="width: 100%; height:500px; display: inline-block;"></highcharts-chart>
    </div>
    <table>
        <thead>
            <tr>
                <th colspan="2">Fund</th>
                <th colspan="3">Return Per Unit of Risk</th>
                <th colspan="3">Volatility (StDev)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Beta</td>
                <td>R<sup>2</sup></td>
                <td>Fund</td>
                <td>Universe</td>
                <td>Index</td>
                <td>Fund</td>
                <td>Universe</td>
                <td>Index</td>
            </tr>
            <tr>
                <td>0.85</td>
                <td>0.98</td>
                <td>-0.13</td>
                <td>-0.16</td>
                <td>-0.24</td>
                <td>14.97</td>
                <td>17.53</td>
                <td>17.34</td>
            </tr>
        </tbody>
    </table>
</div>