<div id="content">
    <div>
        <h3 style="float: left"><strong>Annual Performance</strong></h3>
        <h3 style="float:right"><strong>Morgan Stanley - International Equity</strong></h3>
    </div>
    <hr />
    <br />
    <h6 style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <div style="text-align: center;">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"
                          style="width: 800px; height: 50em; display: inline-block;"></highcharts-chart>
    </div>
    <table style="width: 800px; margin: auto;">
        <thead>
            <tr>
                <th></th>
                <th>1st Quartile</th>
                <th>2nd Quartile</th>
                <th>3rd Quartile</th>
                <th>4th Quartile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Versus Peer Group</td>
                <td style="background-color: #02007c"></td>
                <td style="background-color: lawngreen"></td>
                <td style="background-color: #f4f442"></td>
                <td style="background-color: #ffffff"></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table style="width: 75%; margin: auto;">
        <thead>
            <tr>
                <th width="13%"></th>
                <th>2007</th>
                <th>2008</th>
                <th>2009</th>
                <th>2010</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>YTD</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            <tr style="background-color: darkgrey">
                <td style="text-align:left;">&#9670; Total Fund</td>
                <td>9.9</td>
                <td>-33.1</td>
                <td>21.6</td>
                <td>6.1</td>
                <td>-7.6</td>
                <td>19.6</td>
                <td>20.4</td>
                <td>-6.1</td>
                <td>0.4</td>
                <td>-2.5</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">&#9632; Relative Benchmark<sup>2</sup></td>
                <td>11.2</td>
                <td>-43.4</td>
                <td>31.8</td>
                <td>7.7</td>
                <td>-12.1</td>
                <td>17.3</td>
                <td>22.8</td>
                <td>-4.9</td>
                <td>-0.8</td>
                <td>-3.0</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">First Quartile</td>
                <td>15.6</td>
                <td>-36.5</td>
                <td>36.1</td>
                <td>13.4</td>
                <td>-10.8</td>
                <td>17.6</td>
                <td>22.5</td>
                <td>-3.6</td>
                <td>0.3</td>
                <td>-1.6</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Median</td>
                <td>10.7</td>
                <td>-40.3</td>
                <td>29.7</td>
                <td>10.4</td>
                <td>-10.8</td>
                <td>17.6</td>
                <td>22.5</td>
                <td>-3.6</td>
                <td>0.3</td>
                <td>-1.6</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Third Quartile</td>
                <td>7.3</td>
                <td>-44.3</td>
                <td>25.8</td>
                <td>7.4</td>
                <td>-13.1</td>
                <td>15.1</td>
                <td>17.2</td>
                <td>-7.1</td>
                <td>-3.9</td>
                <td>-2.6</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 75%; margin: auto">
        <br />
        <p><sup>2</sup>EAFE</p>
    </div>
</div>
