table {
    border: solid;
    border-width: 1px;
}

th {
    border: solid;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}

td {
    border: solid;
    border-width: 1px;
    padding: 10px;
}
@media print {
    .no-print {
        display: none;
    }

    #date {
        padding: 0;
        font-size: 1em;
    }

    table {
        border-collapse: collapse;
    }
}