<div id="content">
    <div>
        <h3 style="float: left"><strong>Annual Performance</strong></h3>
        <h3 style="float:right"><strong>Morgan Stanley - Emerging Markets Equity</strong></h3>
    </div>
    <hr />
    <br />
    <h6 style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <div style="text-align: center;">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartOptions"
                          style="width: 800px; height: 50em; display: inline-block;"></highcharts-chart>
    </div>
    <table style="width: 800px; margin: auto;">
        <thead>
            <tr>
                <th></th>
                <th>1st Quartile</th>
                <th>2nd Quartile</th>
                <th>3rd Quartile</th>
                <th>4th Quartile</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Versus Peer Group</td>
                <td style="background-color: #02007c"></td>
                <td style="background-color: lawngreen"></td>
                <td style="background-color: #f4f442"></td>
                <td style="background-color: #ffffff"></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table style="width: 75%; margin: auto;">
        <thead>
            <tr>
                <th width="13%"></th>
                <th>2007</th>
                <th>2008</th>
                <th>2009</th>
                <th>2010</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>YTD</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            <tr style="background-color: darkgrey">
                <td style="text-align:left;">&#9670; Total Fund</td>
                <td>41.6</td>
                <td>-56.4</td>
                <td>69.5</td>
                <td>18.5</td>
                <td>-18.4</td>
                <td>20.2</td>
                <td>-0.4</td>
                <td>-3.2</td>
                <td>-9.2</td>
                <td>4.9</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">&#9632; Relative Benchmark<sup>2</sup></td>
                <td>39.4</td>
                <td>-53.3</td>
                <td>78.5</td>
                <td>18.9</td>
                <td>-18.4</td>
                <td>18.2</td>
                <td>-2.6</td>
                <td>-2.2</td>
                <td>-14.9</td>
                <td>5.7</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">First Quartile</td>
                <td>44.3</td>
                <td>-50.3</td>
                <td>84.3</td>
                <td>24.2</td>
                <td>-16.8</td>
                <td>22.4</td>
                <td>1.5</td>
                <td>1.5</td>
                <td>-11.0</td>
                <td>7.1</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Median</td>
                <td>39.8</td>
                <td>-53.9</td>
                <td>77.7</td>
                <td>19.8</td>
                <td>-18.2</td>
                <td>20.6</td>
                <td>-0.7</td>
                <td>-1.2</td>
                <td>-13.8</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td width="13%" style="text-align:left;">Third Quartile</td>
                <td>34.9</td>
                <td>-55.9</td>
                <td>72.1</td>
                <td>17.6</td>
                <td>-21.8</td>
                <td>17.3</td>
                <td>-3.7</td>
                <td>-3.3</td>
                <td>-15.4</td>
                <td>3.5</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 75%; margin: auto">
        <br />
        <p><sup>2</sup>EM</p>
    </div>
</div>
