#cumulative-table {
    padding: 10%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.setParens::before {
    content: '(';
}

.setParens::after {
    content: ')';
}

.isRed {
    color: red;
}

.bold {
    font-weight: bold;
}

.border {
    border-bottom: double;
}

.border2 {
    border-top: solid;
    border-width: thin;
}
