<button class='no-print' printSectionId="content" [useExistingCss]="true" ngxPrint>PRINT</button>
<div id="content">
    <div>
        <h3 style="float: left"><strong>DeMarche Domestic Equity Manager Style Universe Comparisons</strong></h3>
    </div>
    <hr />
    <br />
    <h6 id="date" style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <button class='no-print' printSectionId="three-yr-annualized" [useExistingCss]="true" ngxPrint>PRINT GRAPH</button>
    <div id="three-yr-annualized">
        <app-three-yr-annualized></app-three-yr-annualized>
    </div>
    <br />
    <button class='no-print' printSectionId="five-yr-annualized" [useExistingCss]="true" ngxPrint>PRINT GRAPH</button>
    <div id="five-yr-annualized">
        <app-five-yr-annualized></app-five-yr-annualized>
    </div>
</div>