table {
    padding: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}


.setParens::before {
    content: '(';
}

.setParens::after {
    content: ')';
}

.isRed {
    color: red;
}

.bold {
    font-weight: bold;
}

.leader {
    background-color: darkgrey;
    font-weight: bold;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
}
@media print {
    .no-print {
        display: none;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    #date {
        padding: 0;
        font-size: 1em;
    }
}