<div id="content">
    <div>
        <h3 style="float: left"><strong>Manager Risk Analysis</strong></h3>
        <h3 style="float:right"><strong>Commonfund Intl PE VII</strong></h3>
    </div>
    <hr />
    <br />
    <h6 style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <br />
    <app-cip-risk-return></app-cip-risk-return>
    <br />
    <h6 style="text-align:right; border-top:solid"></h6>
    <br />
    <app-cip-capture-ratio></app-cip-capture-ratio>
</div>
