<div id="content">
    <div>
        <h3 style="float: left"><strong>Manager Risk Analysis</strong></h3>
        <h3 style="float:right"><strong>Fiduciary Management</strong></h3>
    </div>
    <hr />
    <br />
    <h6 style="text-align:right; border-top:solid">{{date | date:'MM/dd/yyyy'}}</h6>
    <br />
    <br />
    <app-f-m-three-yr-risk-return></app-f-m-three-yr-risk-return>
    <br />
    <h6 style="text-align:right; border-top:solid"></h6>
    <br />
    <app-f-m-three-yr-ratio></app-f-m-three-yr-ratio>
</div>
